In [3]:
#Here we are importing the pandas library in which it supports complete dataset.
#when we import this panda library here it will automatically get saved to the memory of this file.
import pandas as pd

In [ ]:
#1.Data collection

In [4]:
#In this case,we are assigning the values which is present in the Salary_Data.csv file to the Dataset (Variable) 
Dataset=pd.read_csv("Salary_Data.csv")

In [5]:
Dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
#2.Input/Output split

In [6]:
#For assigning the specific column from the tabulation to the separate variable,select the respective column from variable  where it is assigned.

#Here we are assigning the Input variable column(YearsExperience) from the Dataset variable to Independent Variable.

Independent=Dataset[["YearsExperience"]]

In [7]:
Independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [8]:
#Here we are assigning the Output variable column(Salary) from the Dataset variable where to Dependent Variable.

Dependent=Dataset[["Salary"]]

In [9]:
Dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [ ]:
#3.Training & Test set split

In [10]:
#here we are spliting the dataset into training and test set. For that we are using sklearn library.
#sklearn library supports for full Machine learning.
#In this case,from sklearn library we are calling required class and function which we need(model_selection,train_test_split)
# Then we are assigning respective variables(X_train,X_test,y_train,y_test=train_test_split) and parameters(Independent,Dependent,test_size=0.30,random_state=0)

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(Independent,Dependent,test_size=0.30,random_state=0)

In [ ]:
#4.Model Creation

In [11]:
#By using Linear regression algorithm which we have learnt theoretically, here we are doing the respective coding.
#This is the exact phase where the learning is happening
#In Fit function we are substiuting the input X_train,y_train whereas after execution, weight & bias are calculated and we will get the respective model

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [12]:
#Here we are finding the value of the weight(Slope) by using the function coef_ which is already calculated
weight=regressor.coef_
weight

array([[9360.26128619]])

In [13]:
#Here we are finding the value of the bias(origin/Intercept)  by using the function intercept_ which is already calculated
bias=regressor.intercept_
bias

array([26777.3913412])

In [ ]:
# Evaluation metrics

In [14]:
#prediction is the application function.By using this fn,we are giving the parameter(X_test) and assigning to the variable y_prediction
#So it will calculate the input values given in the test set(X_test)by the use of model we created.
y_prediction=regressor.predict(X_test)

In [15]:
y_prediction

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [17]:
#Here, by using r2_score we are analyzing how well the model is fitted.
#Inside the r2_score fn we are giving the parameter(y_test,y_prediction)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_prediction)

In [18]:
r_score

0.9740993407213511

In [23]:
#By using pickle we are giving the respective filename and saving the model.
import pickle
Filename="Finalized_Simple_Linear_Model.sav"

In [24]:
#Here we are implementing the model into the file we created "Finalized_Simple_Linear_Model.sav"
#wb-write binary

pickle.dump(regressor,open(Filename,'wb'))

In [29]:
#From the saved model we are loading and checking it for the further use. Further use is the case for Phase 2(Deployment)
#rb-read binary
Loaded_Model=pickle.load(open("Finalized_Simple_Linear_Model.sav",'rb'))
Result=Loaded_Model.predict([[13]])

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [30]:
Result

array([[148460.78806172]])