In [1]:
#Importing Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Loading Dataset
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
#checking counts-Rows&columns
dataset.shape

(400, 5)

In [4]:
#get dummies
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [5]:
#dropping the column that is not required which has no information
dataset=dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [6]:
#How many classes we are going to classify
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [7]:
#spliting Independent and Dependent
Independent=dataset[["Age","EstimatedSalary","Gender_Male"]]
Dependent=dataset["Purchased"]

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Independent,Dependent, test_size = 1/3, random_state = 0)

In [9]:
#StandardScaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['gini','entropy','log_loss'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]} 
grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

#we have lot scoring metrics....we can also us that one
#https://scikit-learn.org/stable/modules/model_evaluation.html#classification-metrics

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [11]:
grid_predictions = grid.predict(X_test)

In [12]:
re=grid.cv_results_
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.040689,0.006924,0.004886,0.003886,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.687500,0.742857,0.750000,0.864865,0.914286,0.791902,0.084098,18
1,0.249237,0.016485,0.016278,0.002638,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.727273,0.810811,0.780488,0.900000,0.923077,0.828330,0.073378,9
2,0.033446,0.009360,0.006236,0.001695,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.687500,0.810811,0.809524,0.842105,0.888889,0.807766,0.066688,15
3,0.201989,0.010467,0.015324,0.003910,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.687500,0.777778,0.780488,0.900000,0.923077,0.813769,0.086869,12
4,0.022269,0.002954,0.005412,0.002189,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.800000,0.777778,0.780488,0.810811,0.888889,0.811593,0.040548,14
5,0.192199,0.009337,0.015630,0.000439,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.764706,0.810811,0.809524,0.900000,0.947368,0.846482,0.066885,2
6,0.024706,0.002849,0.008150,0.001468,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.800000,0.777778,0.780488,0.842105,0.894737,0.819022,0.044302,11
7,0.204904,0.007376,0.013014,0.001658,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.764706,0.842105,0.761905,0.900000,0.947368,0.843217,0.073279,4
8,0.025696,0.003091,0.004404,0.001612,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.687500,0.850000,0.809524,0.900000,0.914286,0.832262,0.081368,8
9,0.196543,0.008288,0.014484,0.001022,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.727273,0.842105,0.809524,0.900000,0.923077,0.840396,0.069486,5
10,0.024513,0.002988,0.005589,0.003070,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.666667,0.777778,0.780488,0.900000,0.857143,0.796415,0.079817,17
11,0.201842,0.011712,0.015089,0.003864,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.764706,0.842105,0.809524,0.900000,0.947368,0.852741,0.064682,1
12,0.029585,0.001528,0.003431,0.002174,log_loss,auto,10,"{'criterion': 'log_loss', 'max_features': 'aut...",0.764706,0.842105,0.809524,0.871795,0.842105,0.826047,0.036454,10
13,0.205304,0.009245,0.013124,0.001632,log_loss,auto,100,"{'criterion': 'log_loss', 'max_features': 'aut...",0.727273,0.871795,0.780488,0.900000,0.947368,0.845385,0.080303,3
14,0.022550,0.003390,0.007158,0.002552,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.687500,0.727273,0.809524,0.900000,0.944444,0.813748,0.097934,13
15,0.208520,0.014151,0.015903,0.002770,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.687500,0.842105,0.809524,0.926829,0.923077,0.837807,0.087871,7
16,0.026261,0.003634,0.006216,0.003389,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",0.687500,0.842105,0.780488,0.809524,0.864865,0.796896,0.061741,16
17,0.168304,0.019740,0.006381,0.003276,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",0.727273,0.842105,0.780488,0.900000,0.947368,0.839447,0.079221,6

In [13]:
print(grid.best_params_)

{'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 100}

In [14]:
#evaluation metrics(confusion_matrix)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

In [15]:
print(cm)

[[77  8]
 [ 4 45]]

In [16]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,grid_predictions)

In [17]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.95      0.91      0.93        85
           1       0.85      0.92      0.88        49

    accuracy                           0.91       134
   macro avg       0.90      0.91      0.91       134
weighted avg       0.91      0.91      0.91       134

In [18]:
#f1 score prediction

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 100}: 0.9111247448089108

In [19]:
#average{‘micro’, ‘macro’, ‘samples’, ‘weighted’, ‘binary’} or None, default=’binary’

In [43]:
Preinput=sc.transform([[70,90000,1]])
Preinput

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[3.17918075, 0.61441379, 1.00754728]])

In [44]:
Result=grid.predict(Preinput)
print('Purchased=',Result)

Purchased= [0]

C:\Users\sswat\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [48]:
table_pr=pd.DataFrame()

In [49]:
print(X_test)

     Age  EstimatedSalary  Gender_Male
132   30            87000            1
309   38            50000            0
341   35            75000            1
196   30            79000            0
246   35            50000            0
..   ...              ...          ...
168   29           148000            1
150   26            15000            0
393   60            42000            1
66    24            19000            1
240   42           149000            1

[134 rows x 3 columns]

In [50]:
table_pr['Age']=X_test["Age"]
table_pr['Gender_male']=X_test["Gender_Male"]
table_pr['Estimated_Salary']=X_test["EstimatedSalary"]
table_pr['Actual']=y_test
table_pr['Predicted']=grid_predictions

In [51]:
table_pr.head(134)

     Age  Gender_male  Estimated_Salary  Actual  Predicted
132   30            1             87000       0          0
309   38            0             50000       0          0
341   35            1             75000       0          0
196   30            0             79000       0          0
246   35            0             50000       0          0
..   ...          ...               ...     ...        ...
168   29            1            148000       1          1
150   26            0             15000       0          0
393   60            1             42000       1          1
66    24            1             19000       0          0
240   42            1            149000       1          1

[134 rows x 5 columns]